ion-app.ios {
	page-request-basic-job {
		.forms-examples-segment
		{
			@include segment-button-ios-styles();
		}
	}

	ion-alert.category-prompt {
		.alert-wrapper
		{
			border-radius: 18px;
		}
	}
}
