<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'REQUEST_JOB' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row no-padding class="map-row">
    <ion-col no-padding class="map-col">
      <div class="search-container">

        <!-- START POSITION -->
        <ion-toolbar class="search-toolbar transparent-background">
          <!-- <ion-toolbar class="search-toolbar"> -->
          <ion-searchbar class="search-places-bar" placeholder="Start" [(ngModel)]="map_model.searchQueries[0]"
            (ionInput)="searchPlacesPredictions(0)" (ionClear)="clearSearch()"></ion-searchbar>
        </ion-toolbar>
        <ion-list [hidden]="map_model.searchPlacesPredictions[0].length == 0" class="search-options-list">
          <ion-item *ngFor="let place of map_model.searchPlacesPredictions[0]" tappable (click)="selectSearchResult(place, 0)">
            {{ place.description }}
          </ion-item>
        </ion-list>



        <!-- END POSITION -->
        <ion-toolbar class="search-toolbar transparent-background">
          <!-- <ion-toolbar class="search-toolbar"> -->
          <ion-buttons start>
            <button ion-button icon-only (click)="geolocateMe(1)" class="geolocation-button" [ngClass]="{'using-geolocation': map_model.using_geolocation}">
              <ion-icon name="locate"></ion-icon>
            </button>
          </ion-buttons>
          <ion-searchbar class="search-places-bar" placeholder="End" [(ngModel)]="map_model.searchQueries[1]" (ionInput)="searchPlacesPredictions(1)"
            (ionClear)="clearSearch()"></ion-searchbar>
        </ion-toolbar>
        <ion-list [hidden]="map_model.searchPlacesPredictions[1].length == 0" class="search-options-list">
          <ion-item *ngFor="let place of map_model.searchPlacesPredictions[1]" tappable (click)="selectSearchResult(place, 1)">
            {{ place.description }}
          </ion-item>
        </ion-list>
      </div>

      <!-- MAP -->
      <div class="map-container">
        <google-map [options]="map_model.map_options"></google-map>
      </div>

      <!-- SUBMIT BUTTON -->
      <ion-fab right bottom #fab1 class="fab-button">
        <button ion-fab color="button" [disabled]="!locationsValid()" (click)="goToJobRequest()">
        <ion-icon name="arrow-dropright-circle"></ion-icon>
        </button>
      </ion-fab>

    </ion-col>
  </ion-row>
</ion-content>
