page-equipment-options {
  $image-width: 256px;
  $image-height: 256px;

  ion-header {
    @include header-styles(color($colors, header-alt, base), color($colors, header-alt, contrast));
  }

  .forms-content {
    //background-color: color($colors, background, base);

    .forms-segment {
      padding: 14px 0;
      background-color: $white;
      @include element-shadow();

      @include segment-button-styles($theme-color-2);

      .segment-button {
        @include segment-text-styles($white-d);
      }
    }

    .form {
      padding: 0 5px;

      .card-item {
        @include basic-card-styles($white-d);

        preload-image {
          height: 100%;
          width: 100%;
          //max-height: $image-height;
          //max-width: $image-width;
          max-height: 100%;
          max-width: 100%;

          margin: auto;
          img {
            margin: auto;
          }
        }

        .card-title {
          font-size: 1.5rem;
          margin: 0;
          margin-bottom: 12px;
          padding: 0;
          letter-spacing: 1.1px;
          color: $theme-color-2;
        }

      }
    }

    .section-title {
      font-size: 1.8rem;
      line-height: 1.2;
      letter-spacing: 1.1px;
      text-align: center;
      color: $theme-color-2;
      font-weight: 400;
      margin: 0;
    }
  }
}
