page-equipment-options {
  ion-header {
    @include header-styles(color($colors, header-alt, base), color($colors, header-alt, contrast));
  }

  .forms-content {
    background-color: color($colors, background, base);

    .forms-segment {
      padding: 14px 0;
      background-color: $white;
      @include element-shadow();

      @include segment-button-styles($theme-color-2);

      .segment-button {
        @include segment-text-styles($white-d);
      }
    }

    .form {
      .form-section {
        padding: 0 14px;

        .item:first-child {
          margin-top: 20px;
        }
      }

      ion-item {
        @include basic-input-style(color($colors, background, base), $theme-color-3, $white-d);

        &.item {
          margin-top: 14px;

          &.item-label-floating {
            margin-top: 0;

            ion-label {
              color: $white-d;
            }
          }

          .item-inner {
            ion-icon {
              color: $theme-color-2;
            }
          }
        }

        &:first-of-type {
          margin-top: 0;
        }
      }

      .section-title {
        font-size: 1.8rem;
        line-height: 1.2;
        letter-spacing: 1.1px;
        text-align: center;
        color: $theme-color-2;
        font-weight: 400;
        margin: 0;
      }

      .form-action-button {
        margin: 0;
        margin-top: 20px;

        @include call-to-action-button-styles(color($colors, button, base), color($colors, button, contrast));
      }
    }

    .truck-view {
      .truck-form {

      }
    }

  }




}
