<!--
  Generated template for the RequestDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--suppress HtmlUnknownAttribute -->
<!--TODO: Add alert that warns user about losing data-->
<ion-header>
  <ion-navbar>
    <ion-title>{{'REQUEST_DETAILS' | translate}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="forms-content">
  <!-- <div class="forms-wrapper"> -->
  <div class="post-example-view">
    <form class="form post-form" [formGroup]="form">

      <section class="form-section">
        <ion-item>
          <ion-input type="text" placeholder="Item description" formControlName="description"></ion-input>
        </ion-item>

        <button *ngIf="!selected_image" ion-button block large class="upload-image-button" (click)="openImagePicker()">
            <ion-icon name="camera"></ion-icon>
            <h3 class="button-title">{{'UPLOAD_AN_IMAGE' | translate}}</h3>
          </button>
        <preload-image *ngIf="selected_image" [ratio]="{w:1, h:1}" [src]="selected_image" alt="image" title="Item Image">
        </preload-image>

        <ion-item class="range-item">
          <ion-label>
            <h2 class="range-label">{{'WEIGHT_ESTIMATE' | translate}}</h2>
            <h3 class="range-value">{{form.controls.weight.value}} lbs.</h3>
          </ion-label>
          <ion-range formControlName="weight" min="0" max="1000" step="10" snaps="true" pin="false"></ion-range>
        </ion-item>

        <!-- DATE AND TIME  -->
        <ion-row no-padding class="multi-input-row">
          <ion-col no-padding width-60>
            <ion-item class="multi-input time-item">
              <ion-label floating>{{'PICKUP_DATE' | translate }}</ion-label>
              <ion-datetime formControlName="date" displayFormat="DD/MM/YY" pickerFormat="DD-MM-YYYY"></ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col no-padding width-40>
            <ion-item class="multi-input time-item">
              <ion-label floating>{{'TIME' | translate }}</ion-label>
              <ion-datetime formControlName="time" displayFormat="h mm a" pickerFormat="h mm A"></ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>
      </section>

      <section class="form-section">
        <h2 class="section-title">{{'ADDITIONAL_DETAILS' | translate}}</h2>

        <ion-list class="card-preferences">
          <ion-item class="switcher-item">
            <ion-label>{{'REQUIRES_BREAKDOWN' | translate}}</ion-label>
            <ion-toggle formControlName="requiresBreakdown"></ion-toggle>
          </ion-item>

          <ion-item class="switcher-item">
            <ion-label>{{'NEED_HELPER' | translate}}</ion-label>
            <ion-toggle formControlName="needHelper"></ion-toggle>
          </ion-item>

          <ion-item class="switcher-item">
            <ion-label>{{'CAN_USE_ELEVATOR' | translate}}</ion-label>
            <ion-toggle formControlName="canUseElevator"></ion-toggle>
          </ion-item>

          <ion-item class="switcher-item">
            <ion-label>{{'HAS_HARDWOOD' | translate}}</ion-label>
            <ion-toggle formControlName="hasHardwood"></ion-toggle>
          </ion-item>
        </ion-list>


        <!-- ADDITIONAL COMMENTS -->
        <ion-item>
          <ion-textarea rows="7" placeholder="Add additional comments..." formControlName="comments"></ion-textarea>
        </ion-item>

      </section>


      <section class="form-section">
        <button ion-button block class="form-action-button create-post-button" (click)="passJobRequest()"
                [disabled]="!form.valid">
          Next
        </button>
      </section>
    </form>
  </div>
  <!-- </div> -->
</ion-content>
